*{
    padding: 0;
    margin: 0;
}

.startPage{
    width: 100%;
    height: 1000px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.startBtn{
    background-image: url(snake/startGame.png);
    height: 170px;
    width: 200px;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wrapper{
    width: 100%;
    height:1000px;
    background-image: url(snake/bg.jpg);
    background-size: 100% 100%;
    position: relative;
}

.leftSide{
    width: 24%;
    position: absolute;
    height: 1000px;
}

.leftSide img{
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    display: none;
}

.main{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 90%;
}

.header{
    width: 100%;
    height: 80px;
    text-align: center;
}

.score{
    line-height: 80px;
    color: #ddd;
    font-size: 20px;
    font-weight: bolder;

}

.content{
    position: absolute;;
    width: 79.5%;
    height: 36.5%;
    left: 10%;
    top: 34%;
    /* border: 2px solid #fff; */
}

.loser{
    display: none;
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;
}

.con{
    background-image: url(snake/end.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 400px;
    position: absolute;
    margin: auto;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
}

.loserScore{
    display: block;
    height: 30px;
    width: 40px;
    position: absolute;
    top: 42%;
    left: 38%;
    font-size: 30px;
    color: #222;
    font-weight: bolder;
}

.close{
    position: absolute;
    background-image: url(snake/closeBtn.png);
    background-size: 100% 100%;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.food{
    background-image: url(snake/apple.png);
    background-size: 100% 100%;
    
}

.head{
    background-image: url(snake/head.png);
    background-size: 100% 100%;
    
}

.body{
    background-image: url(snake/body.png);
    background-size: 100% 100%;   
}